@import url('https://fonts.googleapis.com/css2?family=Karantina&family=Pathway+Extreme:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Karantina&family=Pathway+Extreme:wght@600&display=swap');
*{
  margin:0px;
  background-color:#0E0E15;
  color:white;
}
.Text{
    font-family:"Kanit";
}
.col{
  float:left;
}
.row1{
  height:72px;
  width:1200px;
  margin-top:28px;
}
.row2{
  height:0px;
  margin-top: 68px;
}
.row3{
  width:56px;
  height:30px;
  margin-top:68px;
  margin-left:160px;
}
.row3_text{
  font-family:'Kanit', sans-serif;;
  line-height:150%;
  font-size:20px;
}
.text{
  color:var(--text,#F3F3F3);
}
.col1{
  width:72px;
  height:72px;
  margin-left:80px;
  float:left;
}
.H_img{
  height:72px;
}
.col2{
  width:103px;
  height:48px;
  margin-left:5px;
  margin-top:12px;
}
.col2_text{
  font-size:40px;
  font-family: 'Karantina', cursive;
  line-height:48px;
}
.col3{
  width:56px;
  height:30px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  line-height:150%;
  margin-left :743px;
  margin-top:21px;
}
.col4{
  width:94px;
  height: 30px;
  margin-left:36px;
  margin-top:21px;
}
.col4_text{
  font-size:19px;
  font-family: 'Kanit', sans-serif;
  line-height:150%;
}
.row4{
  width:960px;
  height: 252px;
  margin:auto;
  margin-top:40px;
}
.row8{
  height:171px;
  margin-top:181px;
  background-color: var(--bg-secondary, #272734);
}
.col8{
  width:128px;
  height:32px;
  margin-left:160px;
  margin-top:80px;
}
.col8_img{
    background-color:#272734;
}
.col9{
  width:143px;
  height:28px;
  margin-top:80px;
  margin-left:5px;
  background-color:#272734;
}
.Col9_text1{
  font-size:26px;
  font-family: 'Karantina', cursive;
  white-space:nowrap;
  color:white;
  background-color:#272734;
}
.Col9_text2{
    color:red;
    background-color:#272734;
}
.row4_col1{
    width:200px;
    height:250px;
}
.poster-path{
    height:250px;
    width:200px;
}
.row4_col2{
    width:719px;
    height:250px;
    margin-left:33px;  
}
.line{
    border:1px solid red;
}
.col2text1{
    font-size:36px;
    line-height:48px;
    white-space:nowrap;
}
.col2text2{
    font-size:12px;
    line-height:24px;
}
.col2text{
   width:600px;
   height:70px;
   margin-top:5px;
}
.col2text3{
    font-size:12px;
    font-family:'Kanit', sans-serif;
    line-height:130%;
}
.line1{
    width:960px;
    border:2px solid #272734;
    margin:auto;
    margin-top:24px;
}
.col3_rating_box{
    width:719px;
    height:40px;
    margin-top:65px;
}
.delete_button{
    float:right;
    width:26px;
    height:29px;
    margin-top:3px;
    margin-right:3px; 
}
.like_icon{
    height:30px;
    position:relative;
    bottom:40px;
    left:5px;
    border:2px solid #0E0E15;
}
.rating{
    border:1px solid #0E0E15;
    position: relative;
    height:26px;
    width:fit-content;
    margin: 5px;
    bottom: 82px;
    padding-top:9px;
    left:40px;
    border-radius:30px;
    background:#272734;
}

.dislike_icon{
    height:30px;
    position:relative;
    bottom:125px;
    left:70px;
    border:2px solid #0E0E15;
}
.row5{
    width:156px;
    height:30px;
    margin-left:160px;
    margin-top:80px;
    font-size:20px;
    line-height:150%;
}
.row6{
     width:658px;
     height:16px;
     margin-left:160px;
     font-size:12px;
     line-height:130%;
}
.row7{
    width:197px;
    height:52px;
    margin-left:160px;
    margin-top:28px;
    cursor:pointer;
    background:#F85146;
}
.row7_box1{
    width:96px;
    height:20px;
    margin-top:13px;
    margin-left:24px;
    background:#F85146;
}
.row7_text1{
    background:red;
    font-size:20px;
    line-height:100%;
    background:#F85146;
}
.row7_img{
    width:40px;
    height:40px;
    margin-top:6px;
    margin-left:13px;
}
.aadimg{
    height:40px;
    background:#F85146;
}
.addmovie_Container{
    width:960px;
    height:1247px;
    margin:auto;
    margin-top:50px;  
    background:#272734;
    padding-top:64px;
}
.addmovierow1{
    width:510px;
    height:44px;
    background-color:#272734;
    margin-left:64px;
}
.addText1{
    font-size:44px;
    line-height: 100%; 
    background-color:#272734;
}
.addmovierow2{
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position:relative;
    left:850px;
    bottom:40px;
}
.multiply_icon{
    height:40px;
    background:#272734;
}
.movie_input{
    width:352px;
    height:68px;
    margin-left:64px;
    margin-top:70px; 
    background-color:#272734;
}
.inputText{
    width:138px;
    height:20px;
}
.Text1{
    font-size:20px;
    line-height:100%;
    background-color:#272734;
}
.input1{
    width:345px;
    height:30px;
    margin-top:8px;
    background-color:#5E5E75;
}
.Select_icon{
    width:16px;
    height:14px;
    float:right;
    position:relative;
    bottom:25px;
    right:10px;
    background-color:#5E5E75;
}
.addmovierow3{
    width:303px;
    height:68px;
    margin-left:64px;
    margin-top:20px;
    background:#272734;  
}
.input_Hours{
    width:90px;
    height:40px;
    background-color:#5E5E75;
}
.hours{
    margin-top:10px;
    margin-left:5px;
}
.input_min{
    margin-left:12px;
}
.genre_box1{
    width:111px;
    height:20px;
    margin-left:64px;
    margin-top:20px;
}
.genre_box2{
    width:197px;
    height:16px;
    margin-left:64px;
    margin-top:5px;
}
.genre_text{ 
    font-size:16px;
    line-height:100%;
    background:#272734;
}
.check_box{
    width:129px;
    height:172px;
    background:#272734;
    margin-left:80px;
    margin-top:20px;
}
.container{
    float:left;
    background:#272734;
}
.des_box{
    width:103px;
    height:20px;
    margin-left:64px;
    margin-top:30px;
}
.input_Dis{
    width:613px;
    height:171px;
    margin-left:64px;
    margin-top:5px;
    background-color:#5E5E75;
}
.checkbox{
    width:15px;
    height:15px;
    margin-top:5px;
    background:#272734;
}
.checkmark_text{
    font-size:16px;
    line-height:100%;
    margin-left:10px;
    background:#272734;
}
.uptext{
    width:205px;
    height:20px;
    margin-left:64px;
    margin-top:30px;
}
.upBox{
    width:129px;
    height:40px;
    border-radius: 50px;
    margin-left:64px;
    margin-top:20px;
    background:#272734;
    border:1px solid #F85146;
}
.upBoxtext{
    width:65px;
    height:20px;
    margin:auto; 
    margin-top:8px;
    background:#272734;
}
.addbox{
    width:190px;
    height:64px;
    margin-left:64px;
    margin-top:40px;
    background: #F85146;
    border:1px solid #F85146;
}
.addtext{
    width:94px;
    height:20px;
    margin:auto;
    margin-top:23px;
}
.addtext1{
   background: #F85146;
}




















