@import url('https://fonts.googleapis.com/css2?family=Karantina&family=Pathway+Extreme:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Karantina&family=Pathway+Extreme:wght@600&display=swap');
*{
  margin:0px;
  background-color:#0E0E15;
  color:white;
}
.Text{
    font-family:"Kanit";
}
.col{
  float:left;
}
.row1{
  height:72px;
  width:1200px;
  border:2px solid rgb(63, 35, 187);
  margin-top:28px;
}
.row2{
  height:0px;
  border: 1px solid red;
  margin-top: 68px;
}
.row3{
  width:56px;
  height:30px;
  margin-top:68px;
  margin-left:160px;
  border: 1px solid red;

}
.row3_text{
  font-family:'Kanit', sans-serif;;
  line-height:150%;
  font-size:20px;

}
.text{
  color:var(--text,#F3F3F3);
}
.col1{
  width:72px;
  height:72px;
  border:1px solid red;
  margin-left:80px;
  float:left;
}
.H_img{
  height:72px;
}
.col2{
  width:103px;
  height:48px;
  margin-left:5px;
  margin-top:12px;
  border:1px solid red;
}
.col2_text{
  font-size:40px;
  font-family: 'Karantina', cursive;
  line-height:48px;
}
.col3{
  width:56px;
  height:30px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  line-height:150%;
  border:1px solid red;
  margin-left :743px;
  margin-top:21px;
}
.col4{
  width:94px;
  height: 30px;
  border:2px solid red;
  margin-left:36px;
  margin-top:21px;
}
.col4_text{
  font-size:19px;
  font-family: 'Kanit', sans-serif;
  line-height:150%;
}
.row4{
  width:960px;
  height: 252px;
  border:2px solid red;
  margin-left:160px;
  margin-top:40px;
  background-color:rgba(39, 39, 52, 1);
}
.row5{
  height:171px;
  border:2px solid red;
  margin-top:181px;
  background-color: var(--bg-secondary, #272734);
}
.col5{
  width:128px;
  height:32px;
  margin-left:160px;
  margin-top:80px;
  border:2px solid red;
}
.col5_img{
    background-color:#272734;
}
.col6{
  width:143px;
  height:28px;
  margin-top:80px;
  border:2px solid red;
  margin-left:5px;
  background-color:#272734;
}
.Col6_text1{
  font-size:26px;
  font-family: 'Karantina', cursive;
  white-space:nowrap;
  color:white;
  background-color:#272734;
}
.Col6_text2{
    color:red;
    background-color:#272734;
}
.row4_col1{
    width:200px;
    height:250px;
    border:2px solid red;
}
.poster-path{
    height:250px;
    width:200px;
}
.row4_col2{
    width:719px;
    height:250px;
    border:2px solid red;
    margin-left:33px;  
}
.col2text1{
    font-size:36px;
    line-height:48px;
    white-space:nowrap;
}
.col2text2{
    font-size:12px;
    line-height:24px;
}
.col2text{
    width:600px;
    height:80px;
    border:1px solid red;
}
.col2text3{
    font-size:12px;
    font-family: 'Kanit', sans-serif;
    line-height:130%;
}













